.app {
  width: 100%;
  height: 100%;
}

.rrweb-player-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: #666;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: #d32f2f;
}

.player-container {
  width: 100%;
  height: 100%;
}

.player-container .rr-player {
  width: 100% !important;
  height: 100% !important;
}

.player-container .rr-player__frame {
  width: 100% !important;
  height: calc(100% - 80px) !important;
}